<nav class="navbar nav-shadow is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://static2.cnodejs.org/public/images/cnodejs_light.svg" width="120">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="mainNavbar" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Search">
                        <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/"> 首页 </a>
                <a class="navbar-item" href="/getstart"> 新手入门 </a>
                <a class="navbar-item" href="/api"> API </a>
                <a class="navbar-item" href="/about"> 关于 </a>
                <a class="navbar-item" href="/signup"> 注册 </a>
                <a class="navbar-item" href="/signin"> 登录 </a>
            </div>
        </div>
    </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>