<%- include('./partials/header') %>
<div class="columns is-desktop main">
    <div class="column">
        <div class="my-panel">
            <div class="my-header header">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="/">主页</a></li>
                        <li class="is-active"><a href="#">注册</a></li>
                    </ul>
                </nav>
            </div>
            <div class="my-body">
                <div class="columns">
                    <div class="column is-half-desktop">
                        <% if(message) { %>
                            <article class="message is-danger">
                                <div class="message-body">
                                    <%= message %>
                                </div>
                            </article>
                        <% }%>
                        <form method="post" action="/signup">
                            <div class="field">
                                <label class="label" for="username">用户名</label>
                                <div class="control">
                                    <input class="input" type="text" id="username" name="username" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="password">密码</label>
                                <div class="control">
                                    <input class="input" type="password" id="password" name="password" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="password2">请再次输入密码</label>
                                <div class="control">
                                    <input class="input" type="password" id="password2" name="password2" required>
                                </div>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <input class="button is-success" type="submit" value="注册"/>
                                    <a class="button is-success" href="/auth/github">
                                        通过 Github 注册
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-quarter-fullhd">
        <div class="my-panel">
            <div class="my-header">
                关于
            </div>
            <div class="my-body">
                欢迎加入社区！
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer') %>
