body {
    /*background: #e1e1e1;*/
    background-color: hsl(0, 0%, 86%);
}

.main {
    margin-top: 8px;
}

.footer {
    background-color: #fff;
}

.my-panel {
    background-color: #fff;
    margin-bottom: 13px;
}

.my-header {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}

.my-body {
    padding: 8px;
    border-radius: 0 0 3px 3px;
}

.panel-heading {
    background-color: #f6f6f6;
}

.topic-tab {
    margin: 0 10px;
    color: #80bd01
}

.topic-tab.current-tab {
    background-color: #80bd01;
    color: #fff;
    padding: 3px 4px;
    border-radius: 3px
}

.topic-tab:hover {
    text-decoration: none
}

.cell {
    background: #fff;
    border-top: 1px solid #f0f0f0;
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 14px;
}

.cell img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    vertical-align: middle;
}

.cell .right {
    float: right;
}

.cell .topic_title {
    padding-left: 16px;
}

.cell a {
    color: black;
    font-size: 16px;
}

.cell a:hover {
    text-decoration: underline;
}